body {
    background: linear-gradient(to left, lightcoral, white);
    font-size: 16px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1.5rem;
}


.menu {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 2rem;

    background-color: white;
    border: 1px solid grey;
    gap: 2rem;
}

.menu button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 100%;

    background-color: white;
    border-radius: 1rem;
    border: none;
    font-size: 1.25rem;
    font-family: "Curlz MT", ui-rounded
}

.menu button:hover {
    border: 1px solid grey;
    background-color: #dadada;
}


.header { /* TODO: add img to background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 80%;
    height: 400px;

    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 20px lightgray;
    border: 1px solid lightgray;
}

.header h2 {
    font-size: 3rem;
    text-decoration: underline;
    font-style: italic;
}
.header p {
    font-size: 1.2rem;
}

.header button {
    width: 20%;
    height: 3rem;
    margin-top: 2.5rem;

    border-radius: 5px;
    background-color: #ff5518;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px #8c8c8c;
}

.header button:hover {
    background-color: #ff4600;
    text-decoration: underline;
    transform: scale(1.05);
    box-shadow: 0 0 20px #656565;
}


.about-us {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 80%;
    height: 400px;

    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 20px lightgray;
    border: 1px solid lightgray;
}

.about-us h2 {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;

    height: 2rem;
    width: 100%;
}

.about-us p {
    width: 50%;

    font-size: 1.7rem;
    text-align: center;
    word-break: break-all;
    font-style: italic;
}